<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Управление вопросами</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Управление вопросами</h1>
        <a href="/" class="home-link">
            <i class="fas fa-home"></i> На главную
        </a>
    </div>

    <div class="card mb-3">
        <div class="card-header">Добавить новую тему</div>
        <div class="card-body">
            <form th:action="@{/topics}" method="post">
                <div class="mb-3">
                    <label for="topicText" class="form-label">Тема</label>
                    <input type="text" class="form-control" name="topic" id="topicText" required maxlength="50">
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Список тем</div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Тема</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="topic : ${topics}">
                    <td th:text="${topic.id}"></td>
                    <td th:text="${topic.topic}"></td>
                    <td>
                        <a th:href="@{/topics/modify(id=${topic.id})}" class="btn btn-sm btn-warning">Редактировать</a>
                        <a th:href="@{/topics/delete(id=${topic.id})}" class="btn btn-sm btn-danger">Удалить</a>
                        <!--<button onclick="someFunction()">Выполнить действие</button>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Добавить новый уровень</div>
        <div class="card-body">
            <form th:action="@{/levels}" method="post">
                <div class="mb-3">
                    <label for="levelText" class="form-label">Имя</label>
                    <input type="text" class="form-control" name="name" id="levelText" required maxlength="50">
                </div>
                <div class="mb-3">
                    <label for="levelDescr" class="form-label">Описание</label>
                    <input type="text" class="form-control" name="description" id="levelDescr" required maxlength="200">
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Список уровней</div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя уровня</th>
                    <th>Описание</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="level : ${levels}">
                    <td th:text="${level.id}"></td>
                    <td th:text="${level.name}"></td>
                    <td th:text="${level.description}"></td>
                    <td>
                        <a th:href="@{/levels/modify(id=${level.id})}" class="btn btn-sm btn-warning">Редактировать</a>
                        <a th:href="@{/levels/delete(id=${level.id})}" class="btn btn-sm btn-danger">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Добавить новый вопрос</div>
        <div class="card-body">
            <form th:action="@{/questions}" method="post">
                <div class="mb-3">
                    <label for="levelId" class="form-label">Уровень</label>
                    <select class="form-control" name="levelId" id="levelId" required>
                        <option value="">Выберите уровень</option>
                        <option th:each="level : ${levels}" th:value="${level.id}" th:text="${level.name}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="topicId" class="form-label">Тема</label>
                    <select class="form-control" name="topicId" id="topicId" required>
                        <option value="">Выберите тему</option>
                        <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.topic}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="question" class="form-label">Вопрос</label>
                    <input type="text" class="form-control" name="question" id="question" required maxlength="200">
                </div>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Список вопросов</div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Вопрос</th>
                    <th>Тема</th>
                    <th>Уровень</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question : ${questions}">
                    <td th:text="${question.id}"></td>
                    <td th:text="${question.question}"></td>
                    <td th:text="${question.topicId}"></td>
                    <td th:text="${question.levelId}"></td>
                    <td>
                        <!--<a th:href="@{/questions/{id}/edit(id=${question.id})}" class="btn btn-sm btn-warning">Редактировать</a>-->
                        <a th:href="@{/questions/modify(id=${question.id})}" class="btn btn-sm btn-warning">Редактировать</a>
                        <a th:href="@{/questions/delete(id=${question.id})}" class="btn btn-sm btn-danger">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
</body>
</html>
